torch==2.11.0.dev20260121+cu128
torchvision==0.25.0.dev20260121+cu128
numpy>=2.3.2
pandas>=2.3.2
scipy>=1.16.1
scikit-learn>=1.7.1
matplotlib>=3.10.6
tqdm>=4.67.2
psutil
optuna
optuna-dashboard
scikit-image
seaborn
Pillow
